// Override and extend Bootstrap stuff
// --------------------------------------------------
// Files, classes, mixins etc.
@import "theme/mixins";
@import "theme/scaffolding";
@import "theme/alerts";

// Own modules
// --------------------------------------------------
// @import "theme/testResponsiveHelpers"; // debug
@import "theme/footer";

// Important note //
// You could also use this file to insert theme related style definitions
// directly within this file. But we recommend keeping your Sass code in
// separate files like the examples above when you exceed a few hundred lines
// of code. Otherwise it will definitely have a negative impact on
// maintainability.

.card.done {
  transition: all 300ms ease 1.1s;
  box-shadow: 0 0 50px 10px #44ce2bb8;
  transform: scale(0.97) rotate(-3deg);
}

.progress {
  left: 0;
  bottom: 0;
  height: 2em;
  width: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 11px 0px #00000070;
  transition: width 1000ms ease;
}
