{{!-- begin: navbar --}}
<nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
	<a class="navbar-brand" href="index.html">MGX BIRTHDAY DASHBOARD</a>
	<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	</button>
	<div class="collapse navbar-collapse" id="navbarNav">
		<ul class="navbar-nav">
			<li class="nav-item {{home}}">
				<a class="nav-link" href="index.html">Progression</a>
			</li>
      <li class="nav-item {{submit}}">
        <a class="nav-link" href="submit.html">Proposer une idée</a>
      </li>
			<li class="nav-item">
				<a class="nav-link" href="https://cagnotte.me/201-margaux-30-ans-a-l-etang" target="_blank">Participer à la cagnotte</a>
			</li>
      <li class="nav-item">
        <a class="nav-link" href="mailto:tristan.bagot+mgxbd@gmail.com">Contact</a>
      </li>
		</ul>
	</div>
</nav>
{{!-- end: navbar --}}
