---
home: active
---
{{> navbar }}

{{!-- begin: content container --}}
<main class="container">

  <div class="row text-center my-4">
    <a class="nav-link col-6 text-center text-success text-uppercase" href="https://cagnotte.me/201-margaux-30-ans-a-l-etang" target="_blank">
      <h1>
        Cagnotte<br><span id="cagnotte">Loading…</span>
      </h1>
    </a>
    <h1 class="nav-link col-6 text-center text-success text-uppercase">
      Cash &amp; autres<br><span id="others">80€</span>
    </h1>
  </div>

  <div class="row">

    <div class="col-sm-12 col-lg-4 p-2">
      <div class="card p-0 gift">

        <div class="card-header text-center">OUI PANAME Bag</div>

        <a class="card-link" href="http://www.oui-paname.com/product/detail.html?product_no=186&cate_no=55&display_group=1" target="_blank">
          <img class="card-img-top" src="assets/img/bag.jpg" alt="Card image cap">
        </a>

        {{!-- <div class="card-body">

          <p class="card-text"></p>
        </div> --}}

        <div class="card-body position-relative text-center">
          <p class="card-text">PRIX<br><span class="price">135</span>€</p>
          <div class="progress bg-success position-absolute text-white"></div>
        </div>

        <div class="card-footer text-center bg-success">
          <div class="col-12">STATUT</div>
          <div class="col-12">Déjà acheté</div>
        </div>

      </div>
    </div>




    <div class="col-sm-12 col-lg-4 p-2">
      <div class="card p-0 gift">

        <div class="card-header text-center">CELINE boucles d'oreilles</div>

        <a class="card-link" href="https://www.celine.com/fr-fr/bijoux/boucles-doreilles/boucles-doreilles-baroque-en-strass-pierres-naturelles-et-laiton-finition-or-46M226MLT.14ML.html#start=13" target="_blank">
          <img class="card-img-top" src="assets/img/celine.jpg" alt="Card image cap">
        </a>

        {{!-- <div class="card-body">

          <p class="card-text"></p>
        </div> --}}

        <div class="card-body position-relative text-center">
          <p class="card-text">PRIX<br>950€ - 30% (réduc.) = <span class="price">665</span>€</p>
          <div class="progress bg-success position-absolute text-white"></div>
        </div>

        <div class="card-footer text-center bg-error">
          <div class="col-12">STATUT</div>
          <div class="col-12">Pas encore acheté</div>
        </div>

      </div>
    </div>

    <div class="col-sm-12 col-lg-4 p-2">
    <div class="card p-0 gift">

      <div class="card-header text-center">Bouquet BONUS</div>

      <a class="card-link" href="#" target="_blank">
        <img class="card-img-top" src="assets/img/pampa.jpg" alt="Card image cap">
      </a>

        <div class="card-body position-relative text-center">
          <p class="card-text">PRIX<br><span class="price">65</span>€</p>
          <div class="progress bg-success position-absolute text-white"></div>
        </div>

        <div class="card-footer text-center">
          <div class="col-12">STATUT</div>
          <div class="col-12">À choisir</div>
        </div>

      </div>
    </div>


  {{!-- <div class="col-sm-12 col-lg-4 p-2">
    <div class="card p-0 gift">

      <div class="card-header text-center">ACNE boucles d'oreilles</div>

      <a class="card-link" href="https://www.acnestudios.com/fr/fr/devra/17H181-100.html" target="_blank">
        <img class="card-img-top" src="assets/img/acne.jpg" alt="Card image cap">
      </a>

        <div class="card-body position-relative text-center">
          <p class="card-text">PRIX<br><span class="price">68</span>€</p>
          <div class="progress bg-success position-absolute text-white"></div>
        </div>

        <div class="card-footer text-center bg-success">
          <div class="col-12">STATUT</div>
          <div class="col-12">Déjà acheté</div>
        </div>

      </div>
    </div> --}}


</main>
{{!-- end: content container --}}
